.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-login {
    background-color: #353b50;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
}